<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Archetype Created Web Application</display-name>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>adminonly</web-resource-name>
			<url-pattern>/hello</url-pattern>
			<!-- <http-method>GET</http-method> -->
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
			<role-name>basicuser</role-name>
			<role-name>guest</role-name>
			<role-name>level1</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>file</realm-name>
	</login-config>

	<security-role>
		<role-name>admin</role-name>
	</security-role>
	<security-role>
		<role-name>basicuser</role-name>
	</security-role>
	<security-role>
		<role-name>guest</role-name>
	</security-role>
	<security-role>
		<role-name>level1</role-name>
	</security-role>
</web-app>
